extends include/main

block variables
  - let title = 'RefillSteam'
  - let description = ''
  - let page = 'about'

block content
  section#about
    .container
      .about.content
        .about__main
          .about__title
            h2 О компании
          .about__text
            p RefillSteam - это компания, которая предоставляет услуги по пополнению баланса на платформе Steam. Мы заботимся о наших клиентах и предлагаем удобное и надежное решение для пополнения баланса в игровом магазине Steam.
            p Наши услуги позволяют вам быстро и легко пополнять ваш баланс на платформе Steam, чтобы вы могли наслаждаться покупками игр, дополнительным контентом и другими ценностями, которые предлагает Steam. Мы гарантируем безопасность и конфиденциальность ваших данных и платежей, чтобы вы могли с уверенностью использовать наши услуги.
            p С нами вы можете выбирать различные способы оплаты и получать мгновенное пополнение баланса, что позволяет вам сразу начать делать покупки на платформе Steam. Мы гордимся нашим отличным обслуживанием клиентов и стремимся обеспечить вас лучшими условиями и удобством в процессе пополнения баланса.
          .about__text
            p
              | ООО «REFILLSTEAM» ИНН Республики Узбекистан 310009550 Место регистрации и осуществления деятельности: ГОРОД ТАШКЕНТ, ЮНУСАБАДСКИЙ РАЙОН, 12 КВАРТАЛ, д. 20А
              br
              | Уполномоченный платежный агент: ООО "КОДЭКСКЛЮЗИВ", 188660, РОССИЯ, ЛЕНИНГРАДСКАЯ ОБЛ., ВСЕВОЛОЖСКИЙ Р-Н, БУГРЫ, АНГЛИЙСКАЯ, Д 6, КВ 32н, ИНН 4706052248, КПП 470601001, ОГРН 1224700016640
            p
              | Сайт: 
              a(href='//codex.su' target='_blank' title='Сайт') codex.su
              br
              | Email: 
              a(href='mailto:support@steamstar.ru' title='Email') support@steamstar.ru
