extends include/main

block variables
  - let title = 'RefillSteam'
  - let description = ''
  - let page = 'privacy'

block content
  section#privacy
    .container
      .privacy.content
        .privacy__main
          .privacy__title
            h2 Политика конфиденциальности
          .privacy__text
            p Настоящая Политика конфиденциальности описывает, как сервис пополнения баланса Steam обрабатывает и защищает персональные данные пользователей. Мы придаем большое значение конфиденциальности и обеспечиваем безопасность всех предоставленных нам данных.
          .privacy__subtitle
            h3 Сбор и использование данных
          .privacy__text
            p Мы собираем только необходимую информацию, которая необходима для обработки платежей и пополнения баланса Steam. Это может включать такие данные, как имя пользователя, адрес электронной почты, информацию о платежной карте и другие данные, необходимые для выполнения транзакции.
          .privacy__subtitle
            h3 Хранение данных
          .privacy__text
            p Мы обеспечиваем безопасное хранение всех персональных данных пользователей. Мы применяем технические и организационные меры для предотвращения несанкционированного доступа, изменения или раскрытия данных.
          .privacy__subtitle
            h3 Передача данных третьим лицам
          .privacy__text
            p Мы не передаем персональные данные пользователей третьим лицам без их согласия, за исключением случаев, когда это требуется в соответствии с законодательством или для обеспечения выполнения услуги пополнения баланса Steam.
          .privacy__subtitle
            h3 Конфиденциальность и безопасность
          .privacy__text
            p Мы строго соблюдаем принципы конфиденциальности и принимаем все необходимые меры для защиты данных пользователей от несанкционированного доступа или использования.
          .privacy__subtitle
            h3 Обновления политики
          .privacy__text
            p Мы можем периодически обновлять нашу Политику конфиденциальности, чтобы отразить изменения в наших услугах или требованиях законодательства. Пользователи будут уведомлены о любых существенных изменениях и могут просмотреть последнюю версию Политики на нашем веб-сайте.
            p Мы призываем всех пользователей ознакомиться с нашей Политикой конфиденциальности, чтобы быть в курсе того, как мы обрабатываем и защищаем их персональные данные.
