footer
  .container
    .footer.content
      .footer__group
        nav.footer-menu
          ul
            li
              a(href='/#faq' title='FAQ') FAQ
            li
              a(href='//vk.com/steamgold' target='_blank' title='Отзывы')
                svg.vk
                  use(href='/image/icon/vk.svg#vk')
                | Отзывы
            li
              a(href='tg://resolve?domain=Steamgold' target='_blank' title='Есть вопросы?')
                svg.telegram
                  use(href='/image/icon/telegram.svg#telegram')
                | Есть вопросы?
            li
              a(href='/about.html' title='О компании') О компании
            li
              a(href='/privacy.html' title='Политика') Политика
        .footer-bank
          .footer-bank__image
            img(src='/image/tinkoff.svg' title='Обслуживающий банк')
          .footer-bank__desc Обслуживающий банк
        //- ul.footer-social
        //-   li.footer-social__link
        //-     a(href='tg://resolve?domain=Steamgold' target='_blank' title='Телеграм')
        //-       svg.telegram
        //-         use(href='/image/icon/telegram.svg#telegram')
        //-   li.footer-social__link
        //-     a(href='//vk.com/steamgold' target='_blank' title='ВКонтакте')
        //-       svg.vk
        //-         use(href='/image/icon/vk.svg#vk')
      .footer-copyright
        img(src='/image/logo-footer.svg' alt='Steamgold')
        p
          | &copy; 2023 Steamgold
          br
          | Все права защищены.
